body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h2,h3{
    color: #6a040f;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

.container > div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Header Styles */
header {
    background-color: #fffffe;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 90px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

/* About Section */
.about-section {
    padding: 50px 0;
    text-align: left; 
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media li:last-child {
    margin-right: 0;
}

.social-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}