body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

/* Header */
header {
    background-color: #fffffe;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 90px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h2 {
    margin-bottom: 10px;
}

.contact-section {
    padding: 40px 0;
    text-align: center;
}

.contact-section p {
    margin-bottom: 20px;
}

/*Form*/
.booking-section {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
}

.booking-section .container {
    max-width: 600px;
    margin: 0 auto;
}

.booking-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.booking-section p {
    text-align: center;
    margin-bottom: 20px;
}

#booking-form label {
    display: block;
    margin-bottom: 10px;
}


#booking-form input[type="submit"]:hover {
    background-color: #0056b3;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#confirmation {
    color: green;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.follow-us {
    text-align: center; 
}

.follow-us h3 {
    margin-bottom: 10px; 
}

.social-media {
    list-style: none; 
    padding: 0; 
}

.social-media li {
    display: inline-block; 
    margin: 0 10px; 
}

.social-media img {
    width: 40px; 
    height: 40px; 
}

.footer .container {
    max-width: 1400px;
    margin: 0 auto; 
}